h1 {
    margin: 0;
}

.navigation-bar {
  padding: 1em;
  vertical-align: baseline;
}

.navigation-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.navigation-bar h1, .navigation-bar nav, .navigation-bar-nav li {
    /*vertical-align: middle;*/
}

.navigation-bar-nav ul li:first-child {
    float: left;
}

.navigation-bar-nav ul li:last-child {
  float: right;
}
.navigation-bar-nav ul li {
  display: inline;
}

.navigation-bar-nav a {
  text-decoration: none;
  color: #fff;
}
